<h1>List of Learning Capsules</h1>

<%= link_to 'Create New Capsule', new_capsule_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @capsules.each do |capsule| %>
      <tr>
        <td><%= capsule.title %></td>
        <td><%= capsule.description %></td>
      </tr>
  <% end %>

</table>

<%= link_to 'Home Page', welcome_index_path %>

