.page-header
  h1 Capsules
.panel.panel-success
  .panel-heading
    h3.panel-title List of Learning Capsules
  .panel-body
    p
      i
        | The following capsules are currently defined in Dakshina. A Capsule represents the smallest learning unit in Dakshina
        | which a student can complete. A Capsule has Study material, Assignment Details and Evaluator Instructions associated
        | with it. You can then define Tracks (or Learning Paths) by choosing appropriate Capsules.
    table.table.table-hover
      tr
        th Title
        th Description
        th
      - @capsules.each do |capsule|
        tr
          td
            =' image_tag 'capsule.ico'
            = capsule.title
          td = capsule.description
          td
            .btn-toolbar
              = link_to 'Show Details', capsule, :class=> "btn btn-primary"
              = link_to 'Edit', edit_capsule_path(capsule) , :class=> "btn btn-warning"
              = link_to 'Delete', capsule_path(capsule),  method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger"

div.btn-toolbar align="center"
  = link_to "< Home", welcome_index_path, :class=> "btn btn-primary"
  = link_to "+ New Capsule", new_capsule_path, :class=> "btn btn-primary"
