.page-header
  h1
    = @capsule.title
    br
    small = @capsule.description




= render :partial => '/common/box', :locals => { :title => 'Study Material', :body => simple_format(@capsule.study_text)}

= render :partial => '/common/box', :locals => { :title => 'Assignment for Student', :body => simple_format(@capsule.assignment_instructions)}

= render :partial => '/common/box', :locals => { :title => 'Guidelines for Evaluators', :body => simple_format(@capsule.guidelines_for_evaluators)}



div.btn-toolbar align="left"
  = link_to "< Back", capsules_path, :class=> "btn btn-primary"
  = link_to "Edit", edit_capsule_path(@capsule), :class=> "btn btn-warning"

