.jumbotron
    h1 Dakshina
    p
      span.glyphicon.glyphicon-gift
      | &nbsp; Welcome to Dakshina. Choose an option below.
    br
    = link_to "Capsules", {:controller=> "capsules"}, :class=> "btn btn-primary btn-lg"

