<div class="jumbotron">

  <h1>Dakshina</h1>
  <p>
    <span class="glyphicon glyphicon-gift"></span>
    Welcome to Dakshina. Choose an option below.
  </p>

  <br/>
  <%= link_to "Capsules", {:controller=> "capsules"}, :class=> "btn btn-primary btn-lg" %>
</div>


