<% if passedErrors.any? %>

<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong>
    <p>
        <%= pluralize(passedErrors.count, "error") %> prohibited
        this form from being saved:
    <ul>
        <% passedErrors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </p>
</div>

<% end %>
